@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Merriweather:ital,opsz,wght@0,18..144,300..900;1,18..144,300..900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header-content {
  background: linear-gradient(180deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url('./images/Banner\ Image.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  margin-top: 50px;
  margin-bottom: 120px;
  margin-left: 10%;
  margin-right: 10%;
  text-align: center;
  padding: 250px 350px;
  border-radius: 16px;
}
.header-content h1 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 72px;
  font-weight: 900;
  line-height: 95px;
  letter-spacing: 0%;
  text-align: center;
  margin-top: 16px;
}
.header-content h5 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 32px;
  font-weight: 400;
  line-height: 40px;
  letter-spacing: 0%;
  text-align: center;
}

/* offer */
.offer {
  margin: 120px 10%;
  text-align: center;
}
.offer h1 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 88px;
  font-weight: 700;
  line-height: 107px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
}
.offer h6 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 16px;
}
.offer h2 {
  color: rgb(7, 2, 17);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: center;
  margin-bottom: 48px;
} /* end offer */

/* party area */
.party {
  background: linear-gradient(90deg, rgb(7, 2, 17), rgba(7, 2, 17, 0) 100%),
    url('./images/Vectorrr.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  border-radius: 16px;
  padding-top: 126px;
  padding-bottom: 142px;
  padding-left: 126px;
  margin: 0 10%;
  display: flex;
  align-items: center;
  gap: 320px;
}
.party-content h2 {
  color: rgb(255, 255, 255);
  font-family: Merriweather;
  font-size: 64px;
  font-weight: 900;
  line-height: 88px;
  letter-spacing: 11%;
  text-align: left;
  margin-bottom: 24px;
}
.party-content p {
  color: rgba(255, 255, 255, 0.8);
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 30px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 48px;
}
.party-content button {
  color: rgb(135, 120, 120);
  font-family: Inter;
  font-size: 20px;
  font-weight: 700;
  line-height: 24px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: uppercase;
  padding: 10px 25px;
} /* end party area */

/* invitition */
.invitition {
  margin: 120px 10%;
  border-radius: 16px;
  background: linear-gradient(
    180deg,
    rgba(255, 0, 0, 0.1),
    rgba(255, 0, 0, 0) 100%
  );
  padding: 110px 390px;
  text-align: center;
}
.invitition span {
  color: rgb(255, 0, 0);
}
.invitition p {
  font-family: Inter;
  font-size: 32px;
  font-weight: 600;
  line-height: 56px;
  letter-spacing: 0%;
  text-align: center;
  text-transform: capitalize;
}
.invitition button {
  border-radius: 8px;
  background: rgb(255, 0, 0);
  color: aliceblue;
  padding: 15px 25px;
  font-size: 20px;
  font-weight: 700;
  border: 0;
  margin-top: 48px;
} /* end invitition */

/* event */
.event {
  padding: 0px 0px;
  margin: 0 10%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.event .event-description {
  width: 30%;
}
.event .event-description h6 {
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 24px;
  font-weight: 500;
  line-height: 29px;
  letter-spacing: 0%;
}
.event .event-description h2 {
  color: rgb(7, 2, 17);
  font-family: Merriweather;
  font-size: 48px;
  font-weight: 900;
  line-height: 60px;
  letter-spacing: 0%;
  text-align: left;
  text-transform: capitalize;
}
.event .event-description p {
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
.event .event-border {
  width: 463px;
  height: 463px;
  border: 15px solid rgb(255, 0, 0);
  border-radius: 50%;
}
.event .event-border img {
  position: relative;
  top: 8%;
  left: 8%;
}
.event .event-sort-description{
  width: 30%;
}
.event .event-sort-description h2{
  color: rgb(255, 0, 0);
  font-family: Inter;
  font-size: 48px;
  font-weight: 700;
  line-height: 58px;
  letter-spacing: 0%;
  text-align: left;
  margin-bottom: 16px;
}
.event .event-sort-description p{
  color: rgba(7, 2, 17, 0.6);
  font-family: Inter;
  font-size: 20px;
  font-weight: 400;
  line-height: 32px;
  letter-spacing: 0%;
  text-align: left;
}
/* end event */
